@import "../../../styles/styles.scss";

.app {
  height: 100vh;
  background: map-get($black, 300);
  display: flex;
}

main {
  flex: 1;
  padding: 10px 10px 10px 0px;
}

.container {
  border-radius: 30px;
  display: flex;
}

.where-your-money-go {
  margin-left: auto;
}

.router {
  width: 100%;
}

.navbar button {
  display: none;
}

@media (max-width: 650px) {
  main {
    padding: 56px 0px 0px;
  }

  .container {
    border-radius: 0px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: map-get($black, 300);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    button {
      display: block;
    }
  }
}
