ul.list {
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    width: 100%;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.1s;
  }

  a:hover {
    background: map-get($grey, 100);
    transform: scale(0.98);
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    color: map-get($white, 100);
  }

  .list-value {
    margin-left: auto;
    padding-left: 12px;
  }
}

.list-content {
  margin-left: 16px;

  p {
    margin-top: 4px;
    max-width: 50ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 650px) {
  .list-content p {
    max-width: 20ch;
  }
}
