<div class="view-content">
    
  <button class="btn-danger" (click)="userService.walletStatus.next('danger')">
    Danger
  </button>

  <button class="btn-warning" (click)="userService.walletStatus.next('warning')">
    Warning
  </button>

  <button class="btn-success" (click)="userService.walletStatus.next('success')">
    Success
  </button>

  <form>
    <div class="form-field">
      <input type="text" placeholder=" " />
      <label>Nome</label>
    </div>

    <div class="form-field">
      <input type="text" placeholder=" " />
      <label>Nome</label>
    </div>
  </form>


</div>
