<div class="view-content">
  <h1>{{ isEdit ? "Edit Expense" : "New Expense" }}</h1>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-select
      [label]="'Category'"
      [control]="formGroup.get('category')"
      [options]="categories"
    ></app-select>

    <app-input
      [type]="'datetime-local'"
      [label]="'Date time'"
      [control]="formGroup.get('datetime')"
    ></app-input>

    <app-input
      [type]="'currency'"
      [label]="'Value'"
      [control]="formGroup.get('value')"
    ></app-input>

    <app-textarea
      [label]="'Description'"
      [control]="formGroup.get('description')"
    ></app-textarea>

    <div class="form-buttons">
      <button
        *ngIf="isEdit"
        class="btn-danger"
        type="button"
        (click)="onDelete()"
      >
        Delete
      </button>

      <a routerLink="/expenses">
        <button class="btn-primary-outline" type="button">Back</button>
      </a>

      <button class="btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
