.view-content {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  margin: auto;
}

.form-buttons {
  display: flex;
  margin-top: 32px;
  justify-content: flex-end;

  .btn-danger {
    margin-right: auto;
  }

  .btn-primary-outline {
    margin-right: 8px;
  }
}
