<aside class="sidebar" #sidebar>
  <button class="btn-toggle">
    <i (click)="onClickBtnToggle()" class="fas fa-bars"></i>
  </button>

  <div class="header" *ngIf="user">
    <img [alt]="user.first_name" [src]="user.photo_url" />

    <h2>{{ user.first_name }}</h2>

    <p>{{ user.email }}</p>
  </div>

  <nav class="navigation">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>

      <li>
        <a routerLink="/expenses" routerLinkActive="active">Expenses</a>
      </li>

      <li>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
      </li>

      <li>
        <a (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </nav>
</aside>
