body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.muted {
  color: map-get($grey, 600);
}
